---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import TeaCard from '../components/TeaCard.astro';

const allTeas = await Astro.glob('../pages/teas/*.md');
const pageTitle = "Наші чаї";
---

<ArticleLayout {pageTitle}>
	<h1 class="last-line">{pageTitle}</h1>
	<ul class="last-line">
		{allTeas.map((tea) => <TeaCard url={tea.url} title={tea.frontmatter.title} />)}
	</ul>
</ArticleLayout>
