---
const pageTitle = "Наші чаї";
---

<html lang="uk">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<a href="/">Хатинка</a>
        <a href="/about/">Про нас</a>
		<a href="/teas/">Наші чаї</a>
		<h1>{pageTitle}</h1>
    </body>
</html>