---
import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = "Наші чаї";
---

<MainLayout>
	<h1>{pageTitle}</h1>
	<ul>
		<li><a href="/teas/2005-liubao/">Лю Бао 2005-го</a></li>
		<li><a href="/teas/2017-ailao-dianhong-cake/">Млинець Дяньхона з Айлао</a></li>
		<li><a href="/teas/2021-ailao-sheng/">"Поза хмарами", Шен пуер з Айлао</a></li>
	</ul>
</MainLayout>
