---
import MainLayout from './MainLayout.astro';

const { frontmatter } = Astro.props;
---

<MainLayout pageTitle={frontmatter.title} >
    <div class="container">
        <h1>{frontmatter.title}</h1>
        <p>Written by {frontmatter.author}</p>
        <slot />
    </div>
</MainLayout>

<style>
	.container { padding: 3rem 1rem 1rem; }

	@media(min-width: 48rem) {
		.container { padding: 3rem 4rem 2rem; }
	}
</style>